<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>Todo List</title>
</head>
<body>
  <header>
    <nav class="navigator">
      <a href="/" class="navigator__title">Todo List</a>
      <button><a href="./todos/new" class="navigator__create">Create</a></button>
    </nav>
  </header>
  {{{ body }}}
</body>
</html>